extends layout_lp

block content
  div(class="title")
    h1 画像破壊
    p 撮影した写真や保存した画像の色を変えたり、効果を加え、新たな画像を生成します。
    div(class="sub")
      a(href="/composition",class="startBtn") 始める
  footer 
    a(href="https://gahag.net/007558-chalkboard-background/") 使用した画像素材
  
//- https://muryou-aigazou.com/ja