doctype html
html
  head
    meta(name="viewport",content="width=device-width,initial-scale=1")

    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header 
      nav
        a(href="/") ■LOGO■
          
          //- img(src="/images/logo.png", alt="画像",class="logo") 
        ul 
          li
            a(href="https://n-highschool.slack.com/archives/C07BP08SGJH") slackチャンネル
        ul 
          li その他SNS今は無し
    block content
    

