extends layout

block content
  main
    div
      form(id="form1", enctype="multipart/form-data", action="/composition/process-file", method="POST")
        input(type="file", name="file", id="fileInput", accept="image/*", required)
        input(type="hidden" name="_csrf" value!=csrfToken)
        button(type="submit", id="uploadButton") Upload
      p ※グリッチアート,ホラー画像が出てくる可能性があります



  script(src="/javascripts/formHandler.js")


