extends layout

block content
  h2(class="result") 破壊された画像
  div(class="result")
    if filepath && filepath != ''
      img(src=filepath, alt="画像は消えた...",class="result")
    else
      h2 画像は消えた...


//- TODO Xついったーを始めて、共有する画面を作る！！！！！！！！！